ul{
  padding-left:0;
}

li{
  list-style:none;
}

a {
  text-decoration: none;
}

header{
  height: 6rem;
  text-align: center;
}

.title{
  padding-top: 2rem;
}

.pagination{
  display:flex;
  justify-content: space-between;
  width: 100px;
  margin: 10px auto 0;
}

.top{
  margin: auto;
  text-align: center;
}
